
<html>
    <head>
        <title>Remove</title>
        <link rel="icon" href="images/note.png">
        <link rel="stylesheet" href="/css/styles.css">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    </head>
    <body id="remove">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <form class="form">
            <label>Title:</label>
            <input type="text" placeholder="Enter note title!" id="title">
            <input type="submit" value="Submit!">
            <a id = "home" href="/">HOME</a>
        </form>
        <div >
                <p>{{details}}</p>   
                <p>{{note}}</p>
                <p>{{body}}</p>       
            </div> 
        {{>footer}}
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
        <script src= "/js/remove.js" >  </script>
</html> 
